.experiences h1 {
    text-align: left;             /* aligné à gauche */
    font-size: 3rem;              /* taille importante */
    font-weight: 700;             /* gras */
    color: #e0b3ff;               /* violet clair */
    text-transform: uppercase;    /* majuscules */
    letter-spacing: 2px;          /* espacement lettres */
    position: relative;           /* pour ligne décorative */
    margin-bottom: 30px;          /* espace sous le titre */
    margin-top: 60px;
}

/* ligne décorative sous le titre */
.experiences h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;               /* juste sous le texte */
    width: 60px;                 /* longueur de la ligne */
    height: 9px;                 /* épaisseur */
    background: linear-gradient(90deg, #9b00ff, #e0b3ff); /* dégradé violet */
    border-radius: 2px;
}


.experience-card {
  background: #c0a1c879;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
/* Grille de projets */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.project-card {
  background: #75aed7;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;  /* garde le bon cadrage */
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.projet-titre {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #ffffff;
  position: relative;
}

.projet-titre::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #c0a1c8; /* violet assorti à ton style */
  margin: 10px auto 0;
  border-radius: 2px;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(135deg, #1c002b, #2e0045, #45006a, #1a001f);
    color: #ffffff;
}
.experience-card p {
    font-size: 13px; /* texte plus grand */
    margin: 2px 0; /* espace entre les lignes */
    line-height: 1.8; /* interligne plus large */
}



