.formation h1 {
    text-align: center;           /* centre le texte */
    font-size: 3rem;              /* taille importante */
    font-weight: 700;             /* gras */
    color: #efd7ff;               /* violet clair */
    text-transform: uppercase;    /* majuscules */
    letter-spacing: 2px;          /* espacement lettres */
    position: relative;           /* pour la ligne décorative */
    margin-bottom: 30px;          /* espace sous le titre */
    margin-top: 60px;
}

/* ligne décorative sous le titre */
.formation h1::after {
    content: "";
    position: absolute;
    left: 50%;                    /* centre horizontalement */
    transform: translateX(-50%);  /* ajuste parfaitement au centre */
    bottom: -10px;                /* juste sous le texte */
    width: 60px;                  /* longueur de la ligne */
    height: 4px;                  /* épaisseur */
    background: linear-gradient(90deg, #dfbff4, #e0b3ff); /* dégradé violet */
    border-radius: 2px;
}


.formation h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #6c63ff;
  margin: 10px auto 0;
  border-radius: 2px;
}


/* Carte générale pour BTS, Bac et Langues */
.formation-card {
  display: flex;            
  align-items: center;      
  gap: 30px;                
  background: #c0a1c879;
  padding: 20px 30px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Image à gauche */
.formation-img img {
  width: 200px;      
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* Texte à droite */
.formation-content h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.formation-content p {
  font-size: 16px;
  margin: 5px 0;
}

/* Responsive pour petits écrans */
@media(max-width: 768px){
  .formation-card {
    flex-direction: column;  /* image au dessus du texte sur mobile */
    text-align: center;
  }

  .formation-img img {
    width: 150px;  
    margin-bottom: 20px;
  }
}
.bilingues-img img {
    width: 250px;   /* plus grande que les autres */
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(135deg, #2b0036, #3d0055, #4f0077, #1a001f);
    color: #ffffff;
}
